.main-container {
  margin: 0;
  height: 100vh;
  display: flex; }
  .main-container header {
    float: left;
    position: fixed;
    width: 270px; }
    .main-container header a {
      color: #39c;
      font-weight: bold;
      text-decoration: none; }
      .main-container header a:hover {
        color: #94c; }
  .main-container .navbar-container {
    position: fixed;
    float: left;
    bottom: 0; }
    .main-container .navbar-container .logo {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 30vh; }
  .main-container .content-container {
    position: absolute;
    top: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    align-self: flex-end; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 130px white inset !important;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.87) !important;
  background-color: white !important;
  color: rgba(0, 0, 0, 0.87) !important; }

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0; }

h1 {
  text-align: center; }

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 380px; }

.card-media {
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center; }
  .card-media img {
    object-fit: cover;
    height: 100%;
    min-width: 50%;
    float: left; }

.cardList {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  border-radius: 2px;
  margin: 10px auto;
  display: flex;
  font-weight: bold;
  text-align: center;
  flex-direction: column;
  border: solid #f4f4f4; }
  .cardList * {
    padding: 10px;
    flex: 1 100%; }
  .cardList h1 {
    border-bottom: solid #f4f4f4;
    padding: 20px 0 5px 0;
    margin: 5px;
    text-align: center; }
  .cardList .cardContainer {
    display: flex;
    height: 33%; }
    .cardList .cardContainer .cardImage, .cardList .cardContainer .pAndButtons {
      width: 50%;
      display: inline-flex; }
    .cardList .cardContainer .cardImage {
      width: 150px;
      overflow: hidden;
      justify-content: center; }
      .cardList .cardContainer .cardImage img {
        object-fit: contain;
        max-height: 33vh; }
    .cardList .cardContainer .pAndButtons {
      flex-direction: column; }
    .cardList .cardContainer .buttons {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: auto; }
      .cardList .cardContainer .buttons div {
        line-height: normal;
        text-align: center;
        padding: 5px; }

.commentDialog {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  border-radius: 2px;
  margin: 10px auto;
  font-weight: bold; }
  .commentDialog .commentBox {
    padding: 10px;
    margin: 5px; }
    .commentDialog .commentBox .addCommentButton {
      background: #a3f4b7 !important;
      display: inline-block !important; }
  .commentDialog h3 {
    border-bottom: solid #f4f4f4;
    padding: 5px;
    margin: 5px;
    text-align: center; }
  .commentDialog .comment {
    padding: 5px;
    margin: 10px;
    border: solid #f4f4f4; }
    .commentDialog .comment .username {
      text-align: right;
      padding: 5px; }
    .commentDialog .comment p {
      padding: 5px; }
    .commentDialog .comment h1 {
      border-bottom: solid #f4f4f4;
      border-left: solid #f4f4f4;
      border-right: solid #f4f4f4;
      font-size: inherit;
      text-align: center; }

.title {
  font-size: 22px;
  font-weight: 400;
  padding: 10px;
  background-color: #48b5e9;
  color: white;
  margin: 1px;
  border-radius: 2px 2px 0 0; }

.description {
  display: flex;
  height: auto;
  margin: 1px; }
  .description .photo {
    display: inline-block;
    width: 50%;
    height: 50%;
    border-radius: 2px 2px 0 0; }
  .description .text {
    margin: 10px auto auto 10px;
    display: inline-block;
    font-size: 18px;
    width: 50%;
    height: 100%; }

.cards {
  width: 60%;
  float: right;
  padding-right: 8.8%; }
  .cards input {
    width: 99.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    border-radius: 2px;
    margin: 10px auto;
    text-align: center;
    border: solid #f4f4f4;
    height: 30px; }

.formBox {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  border-radius: 2px;
  margin: 10px auto;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  border: solid #f4f4f4;
  width: 40%; }

.nav-bar-container {
  display: flex;
  flex-direction: column;
  min-width: 200px; }

/*# sourceMappingURL=layout.css.map */
